<header>
  <div class="flex-row">
    <div class="flex-row">
      <a href="/" class="nav-link home">
        <div class="widget">{{ home }}<span class="widget-tip">home</span></div>
      </a>
      <div class="nav">
        {{ nav }}
      </div>   
    </div>
    <div class="widgets">
      <div id="toggle-grid" class="widget">{{ toggleGrid }} <span class="widget-tip">toggle grid</span></div>
      <div id="swap-colors" class="widget">{{ swapColors }}<span class="widget-tip">swap colors</span></div>
      <div id="random-colors" class="widget">{{ randomColors }}<span class="widget-tip">new colors</span></div>
      <div id="reset-colors" class="widget">{{ resetColors }}<span class="widget-tip">reset</span></div>
    </div>
  </div>
  <div class="flex-row">
    <div>{{ pageDescription }}</div>
  </div>
</header>