<!DOCTYPE html>
<!--
Seamus\'s website. Updated on {{ date }}.
  00 
 (--)
( || )
^^~~^^
--> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <script type="text/javascript" src="/js/duotone-image.js"></script>
  <script type="text/javascript" src="/js/palette.js"></script>
  <script type="module" src="/js/timestamp.js" defer></script>
  <script type="module" src="/js/clock.js" defer></script>
  <script type="text/javascript" src="/js/grid.js" defer></script>
  <title>{{ title }}</title>
</head>
<body>
  {{ header }}
  {{ body }}
  {{ footer }}
  <div class="grid"></div>
</body>
</html>